.about img {
  display: block;
  margin: 0 auto;
}
.aboutText {
  text-align: left;
  display: table;
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  h1 {
    color: $link-color;
  }
}

p {
  margin: 10px;
  a {
    text-decoration: none;
    color: $light-orange;
    font-weight: bold;
  }
}

