.about img {
  display: block;
  margin: 0 auto;
}
.aboutText {
  @include box-shadow(0, 10px, 10px, -10px, #000);
  text-align: left;
  display: table;
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  // box-shadow: -4px 4px 0 $black-50;
  h1 {
    color: $dark-orange;
  }
}

p {
  margin: 10px;
  a {
    text-decoration: none;
    color: $dark-orange;
    font-weight: bold;
  }
}

