body {
  background: $light-green;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pageLink {
  text-decoration: none;
  color: $link-color;
  background: #fff;
  border-radius: 6px;
  margin: 20px;
  padding: 10px;
}

