body {
  background: $light-green;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
  margin-top: 70px;
}

.pageLinkSpace {
  height: 20px;
  width: 100%;
  display: inline-block;
}

.pageLink {
  text-decoration: none;
  color: $link-color;
  background: #fff;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  @include brand-shadow;
  // growth in mixin use over time...
  // @include box-shadow(0, 10px, 10px, -10px, #000);
  // -moz-box-shadow: 10px 10px 5px #888;
  // -webkit-box-shadow: 10px 10px 5px #888;
  // box-shadow: 5px 5px 2.5px #888;
}

.pageLink:hover {
  background: $light-yellow;
  font-weight: bold;
  z-index: 100;
}


