.heart {
  i {
    font-weight: bold;
    font-size: $large-font-size;
  }
}

.heart:hover {
  i {
    color: red;
  }
}

.fa-heart-o {
  font-weight: bold;
  font-size: $large-font-size;
}

.fa-heart-o:hover {
  color: red;
}
