.form-title {
  color: $dark-orange;
}

.post-form {
  @include brand-shadow;
  text-align: left;
  display: table;
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}
