.post {
  width: 25%;
  background: #fff;
  margin: 20px;
  padding: 5px;
  border-radius: 6px;
  box-shadow: -4px 4px 0 $black-50;
  h2 {
    text-align: center;
  }
}

.imageSpace {
  height: 150px;
  width: 150px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.postImage {
  max-height: 150px;
  max-width: 150px;
  display: inline-block;
  margin: 0 auto;
}
