.post {
  width: 25%;
  background: #fff;
  margin: 20px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: -4px 4px 0 $black-50;
  h2 {
    text-align: center;
  }
  p {
    padding: 10px;
  }
}

.postUserProfile span {
  position: absolute;
  margin: 3px;
}

.postProfileImage {
  height: 50px;
  width: 50px;
}

.imageSpace {
  height: 250px;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageSpace .postImage {
  max-height: 250px;
  max-width: 100%;
}

.backLink {
  text-decoration: none;
  color: $link-color;
  background: #fff;
  border-radius: 6px;
  margin: 20px;
  padding: 10px;
}
