.form-title {
  color: $dark-orange;
}

.post-form {
  @include brand-shadow;
  width: 40%;
  text-align: center;
  display: table;
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: $large-font-size;
  h1 {
    float: center;
  }
  button {
    background: $light-yellow;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    font-size: $large-font-size;
  }
  div {
    text-align: left;
    margin: 20px;

    input {
      border-radius: 6px;
      line-height: 27px;
      // font-size: 20px;
      font-size: $large-font-size;
      position: absolute;
      left: 50%;
      width: 50%;
      background: $light-yellow;
      padding: 3px;
    }
  }
}
