.posts {
  background: $light-yellow;
  border-radius: 6px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  @include brand-shadow;
  a {
    text-decoration: none;
    color: $dark-orange;
  }
}
