.post {
  width: 100%;
  background: #fff;
  margin: 20px;
  padding: 15px;
  border-radius: 6px;
  @include brand-shadow;
  h2 {
    text-align: center;
  }
  p {
    padding: 10px;
  }
}

.postUserProfile {
  display: flex;
  .postUserInfo {
    display: flex;
    flex-direction: column;
    flex: center;
  }
  span {
    margin-left: 5px;
    margin-top: 5px;
  }
}

.postProfileImage {
  height: 50px;
  width: 50px;
}

.imageSpace {
  height: 250px;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageSpace .postImage {
  max-height: 250px;
  max-width: 100%;
}

.postStats {
  width: 100%;
  display: inline-flex;
  text-align: center;
  padding: 3px;
  .postStat {
    flex-grow: 1;
  }
}
