.user {
  height: 100%;
  background: $light-yellow;
  border-radius: 6px;
  margin: 20px;
  display: flex;
  @include box-shadow(0, 10px, 10px, -10px, #000);
  a {
    text-decoration: none;
    color: $dark-orange;
  }
  .posts {
    width: 100%;
    @include no-box-shadow;
    .post {
      width: 40%;
    }
  }
}

.userCardSpace {
  width: 40%;
  height: 100%;
}

.userCard {
  margin: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 6px;
  @include box-shadow(0, 10px, 10px, -10px, #000);
  * {
    margin-bottom: 10px;
  }
  h2 {
    color: $dark-orange;
  }
  h4 {
    color: $black-50;
  }
}

.profileImageSpace {
  width: 100%;
  text-align: center;
  .profileImage {
    max-height: 250px;
    max-width: 100%;
  }
}

.userStats {
  height: 100px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  @include box-shadow(0, 10px, 10px, -10px, #000);
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  .stat {
    margin: 20px;
  }
}
