<div class='about'>
  <img class='logo' src='http://i.imgur.com/lJtLb4y.png'>
  <div class='aboutText'>
    <h1>About the Project</h1>
    <p>We are what we eat.</p>
    <p>Think <a href='https://instagram.com/foodstagram' target="_blank">#foodstagram</a> where you can go to view how your friends see food without pictures of clouds getting in the way <i class="fa fa-smile-o"></i>. The discussions will start from there as you will be able to share, learn, and be inspired!</p>
    <p>You are currently logged in as me, Pat Needham. I've done user authentication before so I want to build on other aspects first for this project. Please don't post anything I wouldn't eat!</p>
  </div>
  <div class='aboutText'>
    <h1>About the Developer</h1>
    <p>This is an opensource <a href='https://github.com/goodeats/DevourrBackbone' target='_blank'>front end</a> and <a href='https://github.com/goodeats/devourrAPI' target='_blank'>back end</a> project created by <a href='http://www.patneedham.me' target='_blank'>Pat Needham</a></p>
    <p>This was previously an Angular.js <a href='https://github.com/goodeats/devourrApp' target="_blank">project</a> which I have since reverted back to Backbone.js and Handlebars. While I liked some of the structure that Angular provided (my personal website uses Angular), I found some of its rules a bit too strict for a framework that will eventually <a href='http://www.i-programmer.info/news/167-javascript/7932-angularjs-20-is-radically-different-.html' target="_blank">not be supported</a>. I will look to explore React.js for my next project as I hear <a href='http://joelburget.com/backbone-to-react/'>good things</a>.</p>
  </div>
</div>

