<div id='navbar'>
  <ul class='navheaders' >
    <li class='navListItem'><a class='navlinks' href='#/posts'><img class='logoImage' src='http://i.imgur.com/dLEgGNj.png'></a></li>
    <li class='navListItem'><a class='navlinks' href='#/posts'>Posts</a></li>
    <li class='navListItem' ><a class='navlinks' href='#/about'>About</a></li>
    <li class='navListItem'><a class='navlinks' href='#/users/{{navbar.user}}'>Profile</a></li>
    <li class='navListItem'><a class='navlinks' href='#/login'>Login/Sign up</a></li>
    <li class='navListItem'><a class='navlinks' href='javascript:void(0)' click='navbar.logout()'>Logout</a></li>
  </ul>
</div>
