<div class="post-form">
  <h1 class='form-title'>New Form</h1>
  <form id="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" name="post-title" placeholder="title" id="post-title">
    </div>
    <div>
      <label for="post-description">Description</label>
      <input type="textarea" name="post-description" placeholder="description" id="post-description">
    </div>
    <div>
      <label for="post-picture">Picture</label>
      <input type="text" name="post-picture" placeholder="picture" id="post-picture"></input>
    </div>
    <div>
      <label for="post-location">Location</label>
      <input type="text" name="post-location" placeholder="location" id="post-location"></input>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
